
<div id="app">
  <h1>Productos list</h1>
  {{#each productos}}
  <div style="color: rgba(255, 0, 0, 0.301);">
    <br>
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.status}}</p>
    <p>{{this.price}}</p>
    <p>{{this.category}}</p>
    <p>{{this.stock}}</p>
    
  </div>
  {{/each}}
</div>